.container{
    background-color: #1A1A1A;
    
}

.header{
    display: grid;
    grid-template-areas: 
    "south menu home"
    ;
}

.south{
    grid-area: south;
}

.menu{
    grid-area: menu;
}

.home{
    grid-area: home;
}

