.container{
    background-color: #1A1A1A;
    
}

.header{
    position: fixed;
    padding-left: 50px;
    width: 100%;
    background-color: #1A1A1A;
    top: 0;
    height: 75px;
    align-content: center;
    display: grid;
    grid-template-areas: 
    "south menu home"
    ;
}

.south{
    grid-area: south;
}

.menu{
    grid-area: menu;
}

.home{
    grid-area: home;
}

.body{
    /* align-content: center; */
    padding-top: 65px;
    /* padding-left: 50px; */
    display: grid;
    grid-template: 
    "pasta pasta gym gym"
    "baby alto patridge elephant"
    "queen orange georgia georgia"
    "blue blue conference house"
    "paddle paddle cup cup"
    "white white white white"
    ;
    justify-content: center;
    /* align-content: space-between; */
}

.pasta{
    grid-area: pasta;
    
    
}

.gym{
    grid-area: gym;

}

.baby{
    grid-area: baby;
}

.alto{
    grid-area: alto;
}

.patridge{
    grid-area: patridge;
}

.elephant{
    grid-area: elephant;
}

.queen{
    grid-area: queen;
}

.orange{
    grid-area:orange;
}

.georgia{
    grid-area: georgia;
}

.blue{
    grid-area: blue;
}

.conference{
    grid-area: conference;
}

.house{
    grid-area: house;
}

.paddle{
    grid-area: paddle;
}

.cup{
    grid-area: cup;
}

.white{
    grid-area: white;
}

.footer-2{
    display: grid;
    
}

.top-2{
    align-self: flex-end;
    justify-self: right;
}

.footer{
    display: none;
}

/* .nothing{
    grid-area: social;
} */



@media only screen and (max-width:1281px){
    .body{
        display: grid;
        grid-template: 
        "pasta gym"
        "baby alto"
        "patridge elephant"
        "queen orange"
        "georgia blue"
        "conference house"
        "paddle cup"
        "white white"
        ;
        justify-content: center;
    }
    .pasta{
        grid-area: pasta;
        object-fit: cover;
        
        
    }
    
    .gym{
        grid-area: gym;
    }
    
    .baby{
        grid-area: baby;
        /* justify-self: end; */
        
    }
    
    .alto{
        grid-area: alto;

    }
    
    .patridge{
        grid-area: patridge;
    }
    
    .elephant{
        grid-area: elephant;
    }
    
    .queen{
        grid-area: queen;
    }
    
    .orange{
        grid-area:orange;
    }
    
    .georgia{
        grid-area: georgia;
    }
    
    .blue{
        grid-area: blue;
    }
    
    .conference{
        grid-area: conference;
    }
    
    .house{
        grid-area: house;
    }
    
    .paddle{
        grid-area: paddle;
    }
    
    .cup{
        grid-area: cup;
    }
    
    .white{
        grid-area: white;
    }

    .footer{
        display: grid;
        padding-left: 25px;
        grid-template:
        "social top"
        ;
    }
    
    .top{
        grid-area: top;
        align-self: flex-end;
        justify-self: right;
    }
    
    .info{
        grid-area: social;
    }
    
    .top-2{
        display: none;
    }
}




@media only screen and (max-width:600px){
    /* .container{
        display: grid;
        grid-template: 
        "header"
        "pictures"
        "footer"
    }

    .header{
        grid-area: header;
    }

    .body{
        grid-area: pictures
    }

    .footer{
        grid-area: footer;
    } */

    .body{
        display: grid;
        grid-template:
        "pasta"
        "gym"
        "baby"
        "alto"
        "patridge"
        "elephant"
        "queen"
        "orange"
        "georgia"
        "blue"
        "conference"
        "house"
        "paddle"
        "cup"
        "white"
        ;

        justify-content: center;
    }
    .pasta{
        grid-area: pasta;
        /* width: 100%;
        max-width: 500px; */
        height: auto;
    }
    
    .gym{
        grid-area: gym;
    }
    
    .baby{
        grid-area: baby;
        justify-self: center;
        
    }
    
    .alto{
        grid-area: alto;
        justify-self: center;
    }
    
    .patridge{
        grid-area: patridge;
        justify-self: center;
    }
    
    .elephant{
        grid-area: elephant;
        justify-self: center;
    }
    
    .queen{
        grid-area: queen;
        justify-self: center;
    }
    
    .orange{
        grid-area:orange;
        justify-self: center;
    }
    
    .georgia{
        grid-area: georgia;
    }
    
    .blue{
        grid-area: blue;
    }
    
    .conference{
        grid-area: conference;
        justify-self: center;
    }
    
    .house{
        grid-area: house;
        justify-self: center;
    }
    
    .paddle{
        grid-area: paddle;
    }
    
    .cup{
        grid-area: cup;
    }
    
    .white{
        grid-area: white;
        justify-self: center;
    }

    .footer{
        display: grid;
        grid-template:
        "social top"
        ;
    }
    
    .top{
        grid-area: top;
        align-self: flex-end;
        justify-self: right;
    }
    
    .info{
        grid-area: social;
    }
    
    .top-2{
        display: none;
    }
}

h1{
    color: #F9F9F9;
    font-size: 15px;
}